.personal-card {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGrey);

  span {
    font-size: 20px;
    font-weight: 700;
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    h3 {
      color: var(--darkBlue);
      font-family: var(--dmSans);
      font-weight: 600;
    }
    p {
      font-weight: 300;
      color: var(--darkBlue);
      font-family: var(--montSerrat);
      font-weight: 500;
    }
  }
}
