.list-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  p {
    color: var(--darkBlue);
    font-family: var(--montSerrat);
    font-weight: 500;
  }
  .title {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    svg {
      font-size: 25px;
      color: var(--darkBlue);
    }
  }

  .options {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    svg {
      color: var(--darkBlue);
      cursor: pointer;
    }
  }
}
