:root {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }

  --lightBlue: #00a8e8;
  --darkBlue: #003459;
  --solidWhite: #ffffff;
  --solidBlack: #000000;
  --lightGrey: rgb(225, 225, 225);
}
