.sidebar {
  width: 250px;
  height: 100vh;
  -webkit-box-shadow: 1px 0px 0px 0px var(--lightGrey);
  -moz-box-shadow: 1px 0px 0px 0px var(--lightGrey);
  box-shadow: 1px 0px 0px 0px var(--lightGrey);
  .logo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 30px;
    }
  }

  .menu {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .button {
      background-color: var(--button-background);
      color: var(--button-text-color);
      font-family: var(--montSerrat);
      font-weight: 600;
      font-size: 16px;
    }
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
      gap: 15px;
      li {
        span {
          font-size: 16px;
          color: var(--text-color);
          font-family: var(--montSerrat);
          font-weight: 600;
        }
      }
    }
  }
  .theme {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    .button {
      background-color: var(--button-background);
      color: var(--button-text-color);
    }
  }
}
