.dashboard {
  display: flex;

  width: 100%;
  .left {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
