.dashboard {
  display: flex;
  width: 100%;
  .left {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    -webkit-box-shadow: -1px 0px 0px 0px var(--lightGrey);
    -moz-box-shadow: -1px 0px 0px 0px var(--lightGrey);
    box-shadow: -1px 0px 0px 0px var(--lightGrey);
  }
}
