.dashboard-suggestions {
  width: 100%;
  height: calc(100vh / 3);
  display: flex;
  flex-direction: column;

  h3 {
    padding-left: 50px;
    color: var(--darkBlue);
    font-family: var(--dmSans);
    font-weight: 800;
  }
  .list {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 45px;
    padding-top: 15px;
  }
}
