.chat-input {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  .chat-input-field {
    border-radius: 10px;
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: var(--lightGrey);
    font-family: var(--montSerrat);
    input {
      height: 100%;
      width: 89%;
      padding-left: 15px;
    }
    button {
      width: 12%;
      height: 100%;
      background-color: var(--lightBlue);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      svg {
        font-size: 30px;
      }
    }
  }
}
