.my-message {
  width: 40%;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--lightGrey);
}
.foreign-message {
  width: 40%;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--lightBlue);
}
