.appointment-card {
  width: 220px;
  height: 90px;
  background-color: var(--lightBlue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .icon {
    svg {
      font-size: 50px;
      color: var(--solidWhite);
    }
  }

  .details {
    p {
      font-family: var(--montSerrat);
      color: var(--solidWhite);
      font-weight: 500;
    }
  }
}
