.carousel {
  position: relative;
  padding-top: 10px;
  .right-arrow {
    position: absolute;
    right: 1px;
    z-index: 99;
    width: 150px;
    height: 90px;
  }
  .left-arrow {
    position: absolute;
    left: -49px;
    z-index: 99;
    width: 150px;
    height: 90px;
    visibility: hidden;
  }
  .hidden {
    display: none;
  }
}
