.chat-box {
  max-height: calc(100% - 160px);
  width: 100%;
  padding: 0 10px;

  .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    svg {
      color: var(--darkBlue);
      font-size: 28px;
      cursor: pointer;
    }

    .name {
      padding-left: 60px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .messages {
    padding: 5px 15px;
    max-height: 330px;
    overflow-y: auto;
  }
}
