.dashboard-history {
  width: 100%;
  height: calc(100vh / 3);
  display: flex;
  flex-direction: column;
  user-select: none;
  .header {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: var(--text-color);
      font-family: var(--dmSans);
      font-weight: 800;
    }
    .filter {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-right: 5px;
      p {
        color: var(--text-color);
        font-family: var(--montSerrat);
        font-size: 14px;
        font-weight: 500;
      }
      svg {
        color: var(--text-color);
        cursor: pointer;
      }
    }
  }

  .list {
    max-height: calc(100vh / 3);
    overflow-y: auto;
    padding: 0 50px;
  }
}
